    body {
        margin: 0;
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        height: 70px;
        flex-shrink: 0;
    }

    iframe {
        border: none;
        width: 100%;
        flex-grow: 1;
    }
